// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header{
  width: 100%;
  padding: 10px;
  background: #4996d1;
  position: fixed;
  top: 0;
  left: 0;
  }
/* line 8, /Users/natsumi/program/todoapp/app/assets/stylesheets/todo.scss */
.header {
  width: 100%;
  padding: 10px;
  background: #4996d1;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
}

/* line 18, /Users/natsumi/program/todoapp/app/assets/stylesheets/todo.scss */
.titles {
  position: relative;
  top: 25px;
}

/* line 23, /Users/natsumi/program/todoapp/app/assets/stylesheets/todo.scss */
.newtask {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 100px;
  height: 30px;
  background: #4996d1;
  border-radius: 8px;
  margin: 0px;
  text-align: center;
  color: #111111;
  text-decoration: none;
}

/* line 37, /Users/natsumi/program/todoapp/app/assets/stylesheets/todo.scss */
.tasks {
  position: relative;
  top: 20px;
}

/* line 41, /Users/natsumi/program/todoapp/app/assets/stylesheets/todo.scss */
.outspan {
  width: 500px;
  height: 30px;
  background: #ffffff;
  border: 2px solid #4996d1;
  margin-left: 700px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

