<h1 class="donecache"> <%= @user %>'s Done Task </h1>
<span class="ToTodo">
  <%= link_to "To Todo",'/todo' %>
</span>
<% @todo.each do |data| %>
  <div class="donetask">
    <span class="donecont">
      Content:<%= data.content %>
    </span>
    <span class="donememo">
      Memo:<%= data.memo %>
    </span>
  </div>
<% end %>
