// Place all the styles related to the done controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
}

.titles{
}

.ToTodo{
  position:relative;
  top: 30px;
  left: 20px;
  display: inline-block;
  width: 100px;
  height: 20px;
  background: #4996d1;
  border-radius: 8px;
  margin:0px;
  text-align: center;
  text-decoration:none;
}

.donetask{
  font-size: 120%;
  position: relative;
  top: 30px;
  left: 20px;
  margin: 10px;
}
.outspan{
  table-layout:fixed;
  width: 800px;
  height: 30px;
  background: #ffffff;
  border: 2px solid #4996d1;
  max-width:100px;
  text-align:justify;
  text-justify: inter-ideograph;
}

a:link{
  color:#000000;

}


.donecont{
  margin: 15px;
}
.donememo{
  width:70px;
  margin: 15px;
}

.ddestroy{
  position: relative;
  top: 0px;
  left: 10px;
  display: inline-block;
  width: 100px;
  height: 20px;
  background: #4996d1;
  border-radius: 8px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
}

.DToDoing{
  position:relative;
  top:30px;
  left:30px;
  display: inline-block;
  width: 100px;
  height: 20px;
  background: #4996d1;
  border-radius: 8px;
  margin:0px;
  text-align: center;
  text-decoration:none;
}
