// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cache{
  position: relative;
  top: 30px;
  text-align: center;
}

.loginform{
  position: relative;
  top: 30px;
  text-align: center;
}

.passwd_in{
  position: relative;
  left: -28px
}

.backbt{
  text-align:center;
  position:relative;
  top:40px;
}
