// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
}

.titles{
  position:relative;
  top: 30px;
  left: 15px;
  width: 500px;
  margin-top:30px;
  margin-bottom:20px;
  margin-left:0px;
  margin-right:0px;
  padding:0%;
}

.newtask{
  position:relative;
  top: 30px;
  left: 20px;
  display: inline-block;
  width: 100px;
  height: 20px;
  background: #4996d1;
  border-radius: 8px;
  margin:0px;
  text-align: center;
  color: #000000;
  text-decoration:none;
}

.todone{
  position: relative;
  top: 30px;
  left: 30px;
  display: inline-block;
  width: 100px;
  height: 20px;
  background: #4996d1;
  border-radius: 8px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
}


.tasks{
  font-size: 120%;
  position: relative;
  top: 30px;
  left: 20px;
  margin: 10px;
}
.outspan{
  table-layout:fixed;
  width: 800px;
  height: 30px;
  background: #ffffff;
  border: 2px solid #4996d1;
  max-width:100px;
  text-align:justify;
  text-justify: inter-ideograph;
}

.taskcheng{
  position: relative;
  top: 0px;
  left: 10px;
  display: inline-block;
  width: 100px;
  height: 20px;
  background: #4996d1;
  border-radius: 8px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
}
.todomemo{
  width:70px;
  text-align:left;
}

.tdestroy{
  position: relative;
  top: 0px;
  left: 10px;
  display: inline-block;
  width: 100px;
  height: 20px;
  background: #4996d1;
  border-radius: 8px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
}

.ttitles{
  text-align: center;
  position:relative;
  top: 30px;
}

.innewtask{
  position: relative;
  top: 30px;
  text-align: center; 
}

.backbt{
  position:relative;
  top: 10px;
}
