// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
}

.header{
  width: 100%;
  padding: 10px;
  background: #4996d1;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration:none;
}
  
.titles{
  position:relative;
  top: 25px;
}

.newtask{
  position:relative;
  top: 10px;
  display: inline-block;
  width: 100px;
  height: 30px;
  background: #4996d1;
  border-radius: 8px;
  margin:0px;
  text-align: center;
  color: #111111;
  text-decoration:none;
}

.tasks{
  position: relative;
  top: 20px;
}
.outspan{
  width:700px;
  height: 30px;
  background: #ffffff;
  border: 2px solid #4996d1;
}

.todomemo{
  width:70px;
}
